body {
	background-color: rgb(254, 205, 211);
	margin-top: 50px;
	width: 1540px;
	margin-left: -10px
}
.text {
	text-align: center;
	color: grey;
    padding-bottom: 25px;
    display: block;
    font-family: Circular-Book-S,HelveticaNeue-Light,'Helvetica Neue Light','Helvetica Neue',Helvetica,Arial,Sans-Serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    margin-left: 480px;
    width: 583px;   
}
.brands {
	text-align: center;
}
a {
	color: black;
}
.fa {
	padding: 10px;
	width: 30px;
}
.fa-spotify:hover {
	color: white;
	background-color: #1ed760;

}
.fa-pinterest:hover {
	color: white;
	background-color: #cb2027;
}
.fa-instagram:hover {
	color: white;
	background-color: #517fa4;
}
.fa-twitter:hover {
	color: white;
	background-color: #00aced;
}
.fa-snapchat:hover {
	color: white;
	background-color:  #fffc00;
}

.fa-facebook:hover {
	color: white;
	background-color: #3b5998;
} 