<body>
	<div class = 'list'>
		<div *ngFor = "let category of categories">
			 <a class = 'text' routerLink="/categories/{{category.id}}/products">
			 	<div class = 'cat'>{{category.name}}</div>
			 	<button class = "shop">Shop now</button>
			 	<img class = 'pic' [src]="category.link" [alt] = 'category.name'>
			 </a>
		</div>
	</div>
	<div class = "insta">
		<h1>#monkistyle</h1>
		<p>We love seeing ALL of you beautiful, unique people. Keep sharing your amazing selves with @monki and #monkistyle</p>
	</div>
	<div class = "photos">
		<div *ngFor = "let photo of photos" class="photo__card">
	      <img class = "instagram" [src]="photo.link"><br><br><br>
	      <div (click)="showInstagram(photo)" class="team__overlay__text">
	        <div class="team__content__inner">
	          <a [href]="photo.insta" target="_blank" class = "instalink"><h6>{{photo.page}}</h6></a>
	        </div>
        </div>
        <div *ngIf="!imageClicked" >
          <form class="modal">
            <div class="modal__backdrop"></div>
              <div class="modal__inner">
                <div><button class="btn__close" (click)="closeForm()">x</button></div>
                <div class="modal__inner__text">
                    <div class="inst__page__inner__left">
                      <img [src]="p.link" alt="photo">
                    </div>
                    <div class="inst__page__inner__right">
                      <div class="instagram__page">
                        <span class="title__insta"><i class="fa fa-instagram insta__icon" style="font-size:36px"></i></span>
                        <div class="user__info">
                          <a class="insta__link" [href]="p.insta">{{p.page}}</a>
                          <span class="insta__name">{{p.page}}</span>
                        </div>
                      </div>
                      <div class="inner__content">
                        <img class="inner__photo" [src]="p.clothes" alt="">
                      </div>
                      <div class="inner__text">
                        <p>{{p.type}}</p>
                      </div>
                    </div>
                  </div>
                </div>
          </form>
        </div>
	    </div>
  </div>

</body>
