img {
	position: relative;
	width: 400px;
	transition: transform .2s;
	margin-top: 80px;
}
span {
	font-size: 25px;
}
img:hover {
	transform: scale(1.2);
}
body {
	margin-left: 67px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.fa:hover {
  opacity: 0.7;
}
.fa {
  color: white;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}
.description {
   width: 600px;
   display: inline-block;
   margin-right: 100px;
   margin-top: 60px;
}
button {
	margin-right: 20px;
	margin-top: 20px;
}

.btn__bag{
  color: #ffffff;
  padding: 20px 0px;
  margin-top: -7px;
  background-color: #FECDD3;
  font-weight: 600;
  font-size: 18px;
  width: 335px;
  text-align: center;
  justify-content: center;
  outline: none;
}

.btn__bag:hover{
  background-color: #ED1385;
}


