<body>
	<div class = "footer">
		<i style="font-size:50px;" class="fa">&#xf25b;</i>
			
		<div  class = "brands">
			<a href="https://www.facebook.com/Monki" target="_blank
"><i class="fa fa-facebook" style="font-size:36px"></i></a>
			<a href="https://www.pinterest.se/monkiworld/" target="_blank
"><i class="fa fa-pinterest" style="font-size:36px"></i></a>
			<a href="https://www.instagram.com/monki/" target="_blank
"><i class="fa fa-instagram" style="font-size:36px"></i></a>
			<a href="https://twitter.com/monkiworld" target="_blank
"><i class="fa fa-twitter" style="font-size:36px"></i></a>
			<a href="https://www.monki.com/en_sek/about-monki/snapchat.html" target="_blank
"><i class="fa fa-snapchat" style="font-size:36px"></i></a>
			<a href="https://open.spotify.com/user/1122676831" target="_blank
"><i class="fa fa-spotify" style="font-size:36px"></i></a>
		</div>
		
		<p class = "text">
				Monki is a storytelling brand offering great fashion at a competitive price, aiming to be kind to the world and empowering the young women in it. Over 120 concept stores offer the Monki experience in 19 markets. Online, monki.com delivers to 19 markets, and via International shipping to an additional 67 destinations worldwide. Monki was founded in 2006 and is a freestanding brand in the H&M group.
		</p>
	</div>
</body>
