.content{
  display: flex;
  text-align: center;
  justify-content: center;
}

.remove{
  position: absolute;
  left: 83%;
  background-color: transparent !important;
  font-size: 16px;
  font-weight: 600;
  outline: none;
}

.total{
  text-align: right;
  margin-right: 120px;
}

.total h3{
  margin-top: -15px;
}

.content__inner h2{
  font-size: 32px;
  line-height: 40px;
  color: #1f313a;
  font-weight: 400;
}

.bag__data{
  margin-top: 50px;
  cursor: pointer;
}

.bag__inner{
  display: flex;
  box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
  margin-bottom: 30px;
  margin-left: 200px;
  margin-right: 200px;
  padding: 20px;
}

.title{
  padding-top: 20px;
  font-size: 24px !important;
  margin-bottom: 30px;
  color: #777777;
  font-weight: bold !important;
}

.bag__inner__data{
  margin-left: 60px;

}

.bag__inner__data p {
  font-size: 20px;
  line-height: 30px;
  font-weight: 500;
}

.content__inner button{
  width: 380px;
  height: 60px;
  background-color: #1f313a;
  color: #ffffff;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.content__inner button:hover{
  background: linear-gradient(45deg,#ed1385 0,#d602f2 50%,#3700ff 100%);
  transition: 0.7s;
}

.popular__products{
  height: 400px;
}

.card__inner{
  display: flex;
}

.card__inner image{
  width: 300px;
  height: 300px;
}

.card{
  width: 33.3%;
  box-sizing: border-box;
}


